/*Main CSS \/*/

body {
    color: green;
    text-align: center;
    background-color: #2C2C2C;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

#title {
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    font-size: 24px;
}

#title-alt {
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    font-size: 24px;
}

#subtitle {
    margin-top: 0px;
    padding: 0;
    text-align: left;
    font-size: 12px;
}

#sutitle-alt {
    margin-top: 0px;
    padding: 0;
    text-align: left;
    font-size: 12px;
}

.red {
    color: red;
    font-family: fantasy;
}

#header {
    background-color: black;
    height: 90px;
    margin: 0;
    padding-bottom: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 255, 0, 0.2);
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
}

#iconHeader {
    width: 5%;
    padding: 10px;
    margin: 0;
    float: left;
    background-color: black;
    height: 90px;
    box-sizing: border-box;
}

#mainHeader {
    height: 90px;
    padding: 10px;
    padding-top: 0;
    width: 95%;
    box-sizing: border-box;
    float: left;
    background-color: black;
    text-align: left;
}

#mainHeader h2 {
    font-size: 24px;
}

#sidebar {
    background-color: #130b17;
    z-index: 1000;
    color: green;
    font-size: 20px;
    position: fixed;
    right: -500px;
    visibility: hidden;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    margin-top: -200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 150px;
}

#flex {
    display: flex;
    flex-direction: column;
    place-content: space-between;
}

.flex-alt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-alt div {
    margin: 20px;
}

.div1 {
    border-right: grey solid 5px;
    padding-right: 30px;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

#sidebar span {
    position: absolute;
    right: 40px;
    top: 40px;
}

a {
    color: green;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
    text-decoration: none;
}

a:hover {
    color: lightgreen;
    text-decoration: underline;
}

.currentPage {
    color: grey;
}

.currentPage:hover {
    text-decoration: none;
    cursor: default;
    color: grey;
}

.icon {
    fill: white;
    cursor: pointer;
}

.icon:hover {
    fill: green;
}

#temp {
    margin-top: 600px;
    visibility: hidden;
}

h4 {
    color: green;
    font-size: 20px;
    margin-top: -50px;
    font-style: bold;
}

#abstract {
    opacity: 0;
    text-align: center;
}

.slideIn {
    animation: slideInAnim 0.5s forwards;
}

.slideOut {
    animation: slideOutAnim 0.5s forwards;
}

.fadeIn {
    animation: fadeInAnim 0.5s forwards;
}

.mainContent{
    color: whitesmoke;
    line-height: 20px;
}

sup {
    margin: 0;
    line-height: 0;
}

.mainSection {
    margin: 100px;
}

.multipleh4 {
    margin-top: 70px;
}

.mainContent span {
    font-style: italic;
}

#citationDiv {
    border-left: lightgrey 2px solid;
    font-size: 10px;
    margin-top: 70px;
    color: lightgrey;
    text-align: left;
    padding-left: 20px;
    margin-bottom: -50px;
}

#citationDiv span {
    color: lightgreen;
    text-decoration: underline;
}

.citation {
    margin: 2px;
}

.span {
    color: lightgreen;
    text-decoration: underline;
    font-style: normal;
}

/*Animations*/

@keyframes slideInAnim {
    0% {
        visibility: visible;
        opacity: 1;
        right: -500px;
    }

    100% {
        opacity: 1;
        visibility: visible;
        right: 0px;
    }
}

@keyframes slideOutAnim {
    0% {
        visibility: visible;
        opacity: 1;
        right: 0px;
    }

    100% {
        visibility: hidden;
        opacity: 1;
        right: -500px;
    }
}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}